* {
  box-sizing: border-box;
  margin: auto;
  padding: 10px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.header {
  width: 1140px;
  height: 100px;
  font-size: 20px;
}

.navBar {
  height: 85px;
  border-radius: 5px;
  color: black;
  background-color: rgb(0, 107, 0);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  display: flex;
}

.logo li {
  font-size: 25px;
  margin-left: 10px;
  margin-right: 200px;
  border-radius: 10px;
  display: inline;
  text-align: left;
}

.logo li a:link {
  color: white;
}

#ul_navBar input[type="text"] {
  width: 400px;
  height: 40px;
  border: none;
  border-radius: 10px;
  background-color: whitesmoke;
  margin-right: 35px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

#ul_navBar li {
  display: inline;
  padding: 5px;
  margin-right: 5px;
  background-color: whitesmoke;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.contentSection {
  width: 1140px;
  height: auto;
}

.restaurantBackground {
  color: whitesmoke;
  width: 100%;
  height: 350px;
  position: relative;
  border-radius: 5px;
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.restaurantName {
  font-size: 32px;
  width: auto;
  position: absolute;
  border-radius: 10px;
  padding-bottom: 25px;
  bottom: 0;
  left: 0;
}

.restaurantHeading {
  font-size: 68px;
}

.restuarantAddress {
  width: 800px;
  height: 55px;
  position: absolute;
  bottom: 0;
  left: 0;
  padding-left: 12px;
}

.menuBar {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  font-weight: bold;
  text-align: center;
}

#ul_menuBar li {
  display: block;
  margin-left: auto;
  margin-right: auto;
  display: inline;
  padding: 20px;
}

a:link {
  text-decoration: none;
  color: black;
}

hr {
  border: none;
  border-bottom: 1px solid;
  border-color: black;
}

.grid-cell {
  width: auto;
  height: 200px;
  border-style: solid;
  border-width: 1px;
  border-color: grey;
  border-radius: 5px;
  margin: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.grid-div {
  display: grid;
  grid-template-columns: auto auto auto;
}

.rest-cell {
  color: whitesmoke;
  font-size: 20px;
  width: 90%;
  height: 250px;
  position: relative;
  border-style: solid;
  border-width: 1px;
  border-color: grey;
  border-radius: 10px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding-top: 210px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  text-shadow: 2px 2px black;
}

.footer {
  color: white;
  width: 100%;
  height: 250px;
  position: absolute;
  background-color: black;
  left: 0;
  margin-top: 100px;
}

.adminContainer {
  display: flex;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.adminMenu {
  width: 400px;
  height: 800px;
  background-color: whitesmoke;
  text-align: center;
  border-right: solid;
  border-color: rgb(182, 176, 176);
  border-width: 1px;
}

.menuButton {
  width: auto;
  height: 65px;
  background-color: whitesmoke;
  margin-right: -10px;
  margin-top: 3px;
  text-align: center;
  border: solid;
  border-right: none;
  border-width: 1px;
  border-color: rgb(182, 176, 176);
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.adminContent {
  width: 100%;
  height: 800px;
  background-color: whitesmoke;
}
